@charset "utf-8";
  div#graph {
    padding: 1em;
  }
  div#graph body {
    text-align:left;
  }
  div#graph .titleBox {
      fill: white;
  }

 div#graph .title {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 18px;
  }

  div#graph .label {
      display: none;
  }
  .showlabel body {
      background: white;
      border: thin solid gray;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 11px;
      padding: 5px;
      margin: 0px;
  }

  .showlabel span {
      overflow:hidden;
      margin-right: -5px;
  }

  .showlabel a {
     color: black;
  }

  .showlabelbg {
      fill: white;
      stroke: black;
      stroke-width: 1px;
  }

  .node {
    stroke: black;
    stroke-width: .5px;
  }

  .link {
    stroke: #999;
    stroke-opacity: .6;
  }

  line.highlight {
    stroke:dodgerblue;
    stroke-opacity: 1;
  }
  circle.highlight {
    stroke:dodgerblue;
    stroke-width:3px;
  }
