{
  "openapi": "3.0.3",
  "info": {
    "title": "Beta Masaheft API",
    "description": "API for the Beta Masaheft digital humanities platform, providing access to Ethiopian and Eritrean manuscript, work, person, place, institution, and narrative records.",
    "contact": {
      "name": "Beta Masaheft",
      "url": "https://betamasaheft.eu"
    },
    "license": {
      "name": "Creative Commons Attribution 4.0 International",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://betamasaheft.eu",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "content-negotiation",
      "description": "Resource URI resolution with content negotiation"
    },
    {
      "name": "redirects",
      "description": "Controller-level redirects — these paths return 302 and are handled entirely by controller.xql before reaching any RESTXQ module"
    },
    {
      "name": "data",
      "description": "Data retrieval endpoints (JSON, XML, TEI)"
    },
    {
      "name": "lists",
      "description": "Collection browsing and listing"
    },
    {
      "name": "geo",
      "description": "Geospatial data (GeoJSON, KML, Gazetteer)"
    },
    {
      "name": "text",
      "description": "Text and passage access"
    },
    {
      "name": "clavis",
      "description": "Clavis / catalogue reference lookup"
    },
    {
      "name": "sparql",
      "description": "SPARQL and RDF endpoints"
    },
    {
      "name": "dts",
      "description": "Distributed Text Services (DTS) API"
    },
    {
      "name": "views",
      "description": "HTML view endpoints"
    },
    {
      "name": "search",
      "description": "Search endpoints"
    },
    {
      "name": "permanent",
      "description": "Permanent / versioned URIs"
    },
    {
      "name": "iiif",
      "description": "IIIF Presentation API endpoints"
    }
  ],
  "paths": {
    "/{id}": {
      "get": {
        "tags": [
          "content-negotiation"
        ],
        "summary": "Resolve a resource by ID",
        "description": "Content-negotiated endpoint. Returns HTML by default, RDF/XML when Accept contains 'rdf', or redirects to TEI XML when Accept contains 'tei+xml'. For IDs with a passage suffix (e.g. LIT1340EnochE.1.3) redirects to the text view.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Beta Masaheft identifier (e.g. BNFet32, LIT1340EnochE, PRS1854Amdase)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML record page",
            "content": {
              "text/html": {}
            }
          },
          "302": {
            "description": "Redirect to collection/id/main or to /tei/{id}.xml"
          },
          "200 (RDF)": {
            "description": "RDF/XML graph (when Accept header contains 'rdf')",
            "content": {
              "application/rdf+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/{id}.xml": {
      "get": {
        "tags": [
          "content-negotiation"
        ],
        "summary": "Retrieve TEI XML for a resource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TEI XML document",
            "content": {
              "application/xml": {}
            }
          }
        }
      }
    },
    "/tei/{id}.xml": {
      "get": {
        "tags": [
          "content-negotiation"
        ],
        "summary": "Retrieve TEI XML via /tei/ prefix",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TEI XML document",
            "content": {
              "application/xml": {}
            }
          }
        }
      }
    },
    "/{id}.rdf": {
      "get": {
        "tags": [
          "content-negotiation"
        ],
        "summary": "Retrieve RDF for a resource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RDF/XML",
            "content": {
              "application/rdf+xml": {}
            }
          }
        }
      }
    },
    "/{id}.json": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "GeoJSON for a place resource",
        "description": "Forwards to /api/geoJson/places/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON feature",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/CAe{suffix}": {
      "get": {
        "tags": [
          "redirects"
        ],
        "summary": "Clavis Aethiopicus search shortcut",
        "description": "Redirects to /newSearch.html?searchType=clavis&query={suffix}",
        "parameters": [
          {
            "name": "suffix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to search page"
          }
        }
      }
    },
    "/{id}/{class}/{subid}": {
      "get": {
        "tags": [
          "redirects",
          "content-negotiation"
        ],
        "summary": "Resolve a sub-part URI",
        "description": "For URIs like /BNFet32/addition/a1 — redirects to /{collection}/{id}/main#{subid}, or returns RDF if Accept header contains 'rdf'. The controller matches only the fixed set of class values listed below; anything else falls through to other rules.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "class",
            "in": "path",
            "required": true,
            "description": "Must be one of: layout, quire, addition, decoration, binding, msItem, msitem, mspart, msPart, title, hand, transformation, UniProd, UniCirc, UniMain, UniMat, UniCah",
            "schema": {
              "type": "string",
              "enum": [
                "layout",
                "quire",
                "addition",
                "decoration",
                "binding",
                "msItem",
                "msitem",
                "mspart",
                "msPart",
                "title",
                "hand",
                "transformation",
                "UniProd",
                "UniCirc",
                "UniMain",
                "UniMat",
                "UniCah"
              ]
            }
          },
          {
            "name": "subid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to /{collection}/{id}/main#{subid} (HTML clients)"
          },
          "200": {
            "description": "RDF/XML (when Accept header contains 'rdf')",
            "content": {
              "application/rdf+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/{id}/{entityType}/annotation/{n}": {
      "get": {
        "tags": [
          "redirects",
          "content-negotiation"
        ],
        "summary": "Resolve an annotation URI",
        "description": "Matches any path containing /annotation/ — e.g. /BNFet32/person/annotation/95 or /BNFet32/place/annotation/1. Redirects to /{id} (HTML), or forwards to RESTXQ for RDF/XML.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Record ID (manuscript, work, etc.)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "description": "Entity type within the record (e.g. person, place)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "path",
            "required": true,
            "description": "Annotation number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to /{id}"
          },
          "200": {
            "description": "RDF/XML (when Accept contains 'rdf')",
            "content": {
              "application/rdf+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/bond/{bond}": {
      "get": {
        "tags": [
          "redirects",
          "content-negotiation"
        ],
        "summary": "Resolve a bond (relation) URI",
        "description": "For URIs like /bond/snap:GrandfatherOf-PRS1854Amdase",
        "parameters": [
          {
            "name": "bond",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the target person/work page"
          },
          "200": {
            "description": "RDF/XML (when Accept contains 'rdf')",
            "content": {
              "application/rdf+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/api/{id}/tei": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get TEI XML for a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TEI XML",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/{id}/json": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get JSON representation of a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON record",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/xml/{id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get full XML for a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/xml/{id}/{level1}": {
      "get": {
        "tags": [
          "text"
        ],
        "summary": "Get XML for a specific section of a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML fragment",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apiText.xqm"
      }
    },
    "/api/xml/{id}/{level1}/{line}": {
      "get": {
        "tags": [
          "text"
        ],
        "summary": "Get XML for a specific line within a section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "line",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML fragment",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apiText.xqm"
      }
    },
    "/api/xml/{id}/{level1}/{level2}/{line}": {
      "get": {
        "tags": [
          "text"
        ],
        "summary": "Get XML for a nested passage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "line",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML fragment",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apiText.xqm"
      }
    },
    "/api/xmlpart/{id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get a specific XML element from a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "element",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML element",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/string/{id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get string serialization of an element from a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "element",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plain text",
            "content": {
              "text/plain": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/{id}/title": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get the title of a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Title text",
            "content": {
              "text/plain": {},
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apiTitles.xqm"
      }
    },
    "/api/{id}/title/json": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get the title of a record as JSON",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON title",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apiTitles.xqm"
      }
    },
    "/api/{id}/{subid}/title": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get the title of a sub-record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Title text",
            "content": {
              "text/plain": {},
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apiTitles.xqm"
      }
    },
    "/api/{id}/author": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get the author(s) of a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Author information",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/{id}/{type}/{subid}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get a specific typed sub-element of a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML or JSON sub-record",
            "content": {
              "application/xml": {},
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/additions/{id}/addition/{addID}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get a specific addition from a manuscript",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Addition XML",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/otherMssText/{id}/{subid}": {
      "get": {
        "tags": [
          "text"
        ],
        "summary": "Get text from another manuscript for a given work passage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "element",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML text fragment",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/loadmsItems/{mainid}/{msItem}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Load manuscript items for a given manuscript and item ID",
        "parameters": [
          {
            "name": "mainid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "msItem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manuscript items",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/witnessesOfContainer/{id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get witnesses of a container (work/narrative)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of witnesses",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/quotations/{text}/{passage}": {
      "get": {
        "tags": [
          "text"
        ],
        "summary": "Get quotations of a specific passage",
        "parameters": [
          {
            "name": "text",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "passage",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quotation data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/quotations.xqm"
      }
    },
    "/api/relations/{localId}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get relations for a record",
        "parameters": [
          {
            "name": "localId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relations JSON",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/nodesAndEdges.xqm"
      }
    },
    "/api/attestations/{type}/{id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get attestations of a type for a given record",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attestation data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/attestations.xqm"
      }
    },
    "/api/sharedKeyword/{keyword}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get records sharing a keyword",
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "element",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "persName"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records sharing keyword",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sharedKeywords.xqm"
      }
    },
    "/api/enrichMe/{id}/{anchor}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Enrich a record with data at a specific anchor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anchor",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrichment data",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/enrichSdCtable.xqm"
      }
    },
    "/api/post/{id}/tei": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get post-processed TEI for a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TEI XML",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/count": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get count of records per collection",
        "responses": {
          "200": {
            "description": "Record counts",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/latest": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get latest modified records",
        "responses": {
          "200": {
            "description": "Latest records",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/listRepositoriesName": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "Get list of repositories",
        "responses": {
          "200": {
            "description": "Repository names",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/cataloguesZotero": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "Get list of catalogues from Zotero",
        "responses": {
          "200": {
            "description": "Catalogue list",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/rest.xqm"
      }
    },
    "/api/WordCount/{manuscriptID}/{workID}": {
      "get": {
        "tags": [
          "text"
        ],
        "summary": "Get word count for a work in a manuscript",
        "parameters": [
          {
            "name": "manuscriptID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Word count",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/wordCount.xqm"
      }
    },
    "/api/Chojnacki/{id}": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Get Chojnacki catalogue data for an item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chojnacki data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/chojnacki.xqm"
      }
    },
    "/api/{collection}/list": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "List records in a collection (XML response)",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "description": "manuscripts, works, persons, places, institutions, narratives, studies",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "term",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "repo",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apilists.xqm"
      }
    },
    "/api/{collection}/list/json": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "List records in a collection (JSON response)",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "term",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "repo",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON list of records",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apilists.xqm"
      }
    },
    "/api/{collection}/list/xml": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "List records in a collection (explicit XML response)",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "term",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML list of records",
            "content": {
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apilistsXML.xqm"
      }
    },
    "/api/manuscripts/{repo}/list/ids/json": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "Get IDs of manuscripts in a repository (JSON)",
        "parameters": [
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON array of manuscript IDs",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apilists.xqm"
      }
    },
    "/api/clavis": {
      "get": {
        "tags": [
          "clavis"
        ],
        "summary": "Search clavis entries",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clavis search results",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/clavis.xqm"
      }
    },
    "/api/clavis/{id}": {
      "get": {
        "tags": [
          "clavis"
        ],
        "summary": "Get clavis data for a specific work",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clavis data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/clavis.xqm"
      }
    },
    "/api/clavis/all": {
      "get": {
        "tags": [
          "clavis"
        ],
        "summary": "Get all clavis entries",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "Filter by clavis type (e.g. BM, CPG, CAVT)"
          }
        ],
        "responses": {
          "200": {
            "description": "All clavis data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/clavis.xqm"
      }
    },
    "/api/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Full-text search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "element",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "title"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "script",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "material",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "homophones",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "true"
            }
          },
          {
            "name": "descendants",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apiSearch.xqm"
      }
    },
    "/api/kwicsearch": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "KWIC (keyword in context) search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KWIC search results",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apiSearch.xqm"
      }
    },
    "/api/titleTest": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Test title lookup by ID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Title data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/apiSearch.xqm"
      }
    },
    "/api/geoJson/places/{id}": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get GeoJSON for a specific place",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON Feature",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/geoJson/places": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get GeoJSON FeatureCollection for all places",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/geoJson/institutions": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get GeoJSON FeatureCollection for all institutions",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/KML/places/{id}": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get KML for manuscripts at a specific place",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KML document",
            "content": {
              "application/vnd.google-earth.kml+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/KML/date/{d}": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get KML for manuscripts dated to a specific date",
        "parameters": [
          {
            "name": "d",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KML document",
            "content": {
              "application/vnd.google-earth.kml+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/KML/place/{placeid}": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get KML for a specific place",
        "parameters": [
          {
            "name": "placeid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KML document",
            "content": {
              "application/vnd.google-earth.kml+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/KML/{collection}/places": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get KML of places referenced in a collection",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KML document",
            "content": {
              "application/vnd.google-earth.kml+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/KML/{collection}/origPlaces": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get KML of origin places for a collection",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KML document",
            "content": {
              "application/vnd.google-earth.kml+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/KML/datePlace/{id}": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get KML combining date and place data for a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KML document",
            "content": {
              "application/vnd.google-earth.kml+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/KML/{collection}/datePlace": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get KML of date+place data for a collection",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KML document",
            "content": {
              "application/vnd.google-earth.kml+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/gazetteer": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get gazetteer data (paginated)",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gazetteer JSON",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/gazetteer/all": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get all gazetteer data",
        "responses": {
          "200": {
            "description": "Full gazetteer JSON",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/gazetteer/place/{id}": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get gazetteer entry for a specific place",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gazetteer entry",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/placeNames/works/all": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get all place name occurrences in works",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Place name data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/placeNames/manuscripts/all": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get all place name occurrences in manuscripts",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Place name data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/placeNames/works/{id}": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get place names in a specific work",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Place names",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/placeNames/manuscripts/{id}": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get place names in a specific manuscript",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Place names",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/placeNames/void": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "Get VoID dataset description for place names",
        "responses": {
          "200": {
            "description": "VoID RDF",
            "content": {
              "application/rdf+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/places.xqm"
      }
    },
    "/api/void/{id}": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "Get VoID description for a resource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VoID RDF/XML",
            "content": {
              "application/rdf+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/specifications/void.xqm"
      }
    },
    "/api/SPARQL": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "Execute a SPARQL query",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SPARQL results (XML)",
            "content": {
              "application/sparql-results+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/api/SPARQL/json": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "Execute a SPARQL query and return JSON",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SPARQL results (JSON)",
            "content": {
              "application/sparql-results+json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/api/SPARQL/relations/{id}": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "Get SPARQL-derived relations for a record",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relations",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/api/SPARQL/SdCunits/{type}": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "Get Syntaxe du Codex units by type",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SdC units",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/api/SPARQL/versions/{id}/{chapterID}": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "Get versions of a work chapter via SPARQL",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chapterID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/api/RDFXML/{collection}/{id}": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "Get RDF/XML for a record by collection and ID",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RDF/XML",
            "content": {
              "application/rdf+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/api/RDFJSON/{collection}/{id}": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "Get RDF/JSON for a record by collection and ID",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RDF as JSON",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/BetMas/api/dts/{api}/template": {
      "get": {
        "tags": [
          "dts"
        ],
        "summary": "Get DTS API endpoint template",
        "parameters": [
          {
            "name": "api",
            "in": "path",
            "required": true,
            "description": "DTS endpoint name (collection, navigation, document)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DTS template",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/modules/dts.xqm"
      }
    },
    "/BetMas/api/dts/indexes": {
      "get": {
        "tags": [
          "dts"
        ],
        "summary": "DTS indexes endpoint",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "indexName",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "ref",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "begin",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DTS index data",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/modules/dts.xqm"
      }
    },
    "/BetMas/api/dts/annotations": {
      "get": {
        "tags": [
          "dts"
        ],
        "summary": "List DTS annotation collections",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DTS annotation collections",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/modules/dts.xqm"
      }
    },
    "/BetMas/api/dts/annotations/{coll}": {
      "get": {
        "tags": [
          "dts"
        ],
        "summary": "Get a DTS annotation collection",
        "parameters": [
          {
            "name": "coll",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DTS annotation collection",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/modules/dts.xqm"
      }
    },
    "/BetMas/api/dts/annotations/{coll}/{indexName}": {
      "get": {
        "tags": [
          "dts"
        ],
        "summary": "Get a named index within a DTS annotation collection",
        "parameters": [
          {
            "name": "coll",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indexName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DTS annotations",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/modules/dts.xqm"
      }
    },
    "/BetMas/api/dts/annotations/{coll}/items/{BMid}": {
      "get": {
        "tags": [
          "dts"
        ],
        "summary": "Get DTS annotations for a specific item",
        "parameters": [
          {
            "name": "coll",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BMid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item annotations",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/modules/dts.xqm"
      }
    },
    "/BetMas/api/dts/annotations/{coll}/items/{BMid}/{indexName}": {
      "get": {
        "tags": [
          "dts"
        ],
        "summary": "Get a specific annotation index for an item",
        "parameters": [
          {
            "name": "coll",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BMid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indexName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "begin",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation index for item",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/modules/dts.xqm"
      }
    },
    "/{collection}/{id}/main": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "HTML main view of a record",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "description": "manuscripts, works, persons, places, institutions, narratives, authority-files, studies",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "ref",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "edition",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "hi",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML record page",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/items.xqm"
      }
    },
    "/{collection}/{id}/text": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Text view of a record (transcription/edition)",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "description": "Single passage reference",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start of passage range",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End of passage range",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "edition",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "hi",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Text view HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/items.xqm"
      }
    },
    "/{collection}/{id}/analytic": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Analytical view of a record",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "hi",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytical view HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/items.xqm"
      }
    },
    "/{collection}/{id}/graph": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Relation graph view of a record",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Graph view HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/items.xqm"
      }
    },
    "/{collection}/{id}/geoBrowser": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Geographic browser view of a record",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geo browser HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/items.xqm"
      }
    },
    "/{collection}/{id}/viewer": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "IIIF viewer for a record",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FirstCanv",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Viewer HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/viewer.xqm"
      }
    },
    "/{collection}/{id}/rdf": {
      "get": {
        "tags": [
          "sparql"
        ],
        "summary": "Get RDF for a record",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RDF/XML",
            "content": {
              "application/rdf+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasApi/local/sparqlRest.xqm"
      }
    },
    "/{collection}/{id}/list": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "List view for a collection (HTML)",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "per-page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/list.xqm"
      }
    },
    "/manuscripts/viewer": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "IIIF viewer for manuscripts",
        "responses": {
          "200": {
            "description": "Viewer HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/viewer.xqm"
      }
    },
    "/manuscripts/{repoID}/list": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "List manuscripts in a repository",
        "parameters": [
          {
            "name": "repoID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per-page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "mainname",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "date-range",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manuscript list HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/list.xqm"
      }
    },
    "/manuscripts/browse": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "Browse manuscripts",
        "responses": {
          "200": {
            "description": "Browse HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/list.xqm"
      }
    },
    "/catalogues/{catalogueID}/list": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "List manuscripts from a specific catalogue",
        "parameters": [
          {
            "name": "catalogueID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per-page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalogue manuscripts HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/list.xqm"
      }
    },
    "/listIds": {
      "get": {
        "tags": [
          "lists"
        ],
        "summary": "Get all record IDs",
        "responses": {
          "200": {
            "description": "ID list",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/ids.xqm"
      }
    },
    "/user/{username}": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "View contributions by a user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User contributions HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/user.xqm"
      }
    },
    "/gender": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Gender statistics overview",
        "responses": {
          "200": {
            "description": "Gender stats HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/genderInfo.xqm"
      }
    },
    "/gender/data": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Gender statistics raw data",
        "responses": {
          "200": {
            "description": "Gender data JSON",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/genderInfo.xqm"
      }
    },
    "/gender/rels": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Gender relations data",
        "responses": {
          "200": {
            "description": "Gender relations JSON",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/genderInfo.xqm"
      }
    },
    "/gender/table": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Gender statistics table view",
        "responses": {
          "200": {
            "description": "Gender table HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/genderInfo.xqm"
      }
    },
    "/gender/table/female": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Gender statistics table — female subset",
        "responses": {
          "200": {
            "description": "Female gender table HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/genderInfo.xqm"
      }
    },
    "/gender/table/male": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Gender statistics table — male subset",
        "responses": {
          "200": {
            "description": "Male gender table HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/genderInfo.xqm"
      }
    },
    "/gender/page": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Gender statistics page view",
        "responses": {
          "200": {
            "description": "Gender page HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/genderInfo.xqm"
      }
    },
    "/gender/graph": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Gender graph view",
        "responses": {
          "200": {
            "description": "Graph HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/genderInfo.xqm"
      }
    },
    "/workmap": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Work distribution map",
        "parameters": [
          {
            "name": "worksid",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "repo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/workmap.xqm"
      }
    },
    "/workmap/KML/{workid}": {
      "get": {
        "tags": [
          "geo"
        ],
        "summary": "KML of manuscript locations for a work",
        "parameters": [
          {
            "name": "workid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "repo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KML document",
            "content": {
              "application/vnd.google-earth.kml+xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/workmap.xqm"
      }
    },
    "/litcomp": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Literary composition network view",
        "parameters": [
          {
            "name": "worksid",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "formsPart"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Literary composition HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/litcompare.xqm"
      }
    },
    "/LitFlow": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Literary flow visualization",
        "parameters": [
          {
            "name": "subj",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LitFlow HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/LitFlowRest.xqm"
      }
    },
    "/compare": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Compare witnesses of a work",
        "parameters": [
          {
            "name": "workid",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comparison HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/compare.xqm"
      }
    },
    "/compareSelected": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Compare selected manuscripts",
        "parameters": [
          {
            "name": "mss",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comparison HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/compare.xqm"
      }
    },
    "/collate": {
      "get": {
        "tags": [
          "views"
        ],
        "summary": "Collation view (via CollateX)",
        "parameters": [
          {
            "name": "dtsURNs",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collation HTML or TEI XML",
            "content": {
              "text/html": {},
              "application/xml": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/collatex.xqm"
      }
    },
    "/permanent/{sha}/{id}/main": {
      "get": {
        "tags": [
          "permanent"
        ],
        "summary": "Permanent link to a specific version of a record (without collection prefix)",
        "parameters": [
          {
            "name": "sha",
            "in": "path",
            "required": true,
            "description": "Git SHA of the version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per-page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned record HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/permanentItems.xqm"
      }
    },
    "/permanent/{sha}/{id}/corpus": {
      "get": {
        "tags": [
          "permanent"
        ],
        "summary": "Permanent link to corpus view of a specific version (without collection prefix)",
        "parameters": [
          {
            "name": "sha",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per-page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned corpus HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/permanentItems.xqm"
      }
    },
    "/permanent/{sha}/{collection}/{id}/main": {
      "get": {
        "tags": [
          "permanent"
        ],
        "summary": "Permanent link to a specific version of a record",
        "parameters": [
          {
            "name": "sha",
            "in": "path",
            "required": true,
            "description": "Git SHA of the version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per-page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned record HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/permanentItems.xqm"
      }
    },
    "/permanent/{sha}/{collection}/{id}/text": {
      "get": {
        "tags": [
          "permanent"
        ],
        "summary": "Permanent link to text view of a specific version",
        "parameters": [
          {
            "name": "sha",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned text HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/permanentItems.xqm"
      }
    },
    "/permanent/{sha}/{collection}/{id}/analytic": {
      "get": {
        "tags": [
          "permanent"
        ],
        "summary": "Permanent link to analytical view of a specific version",
        "parameters": [
          {
            "name": "sha",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned analytic HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/permanentItems.xqm"
      }
    },
    "/permanent/{sha}/{collection}/{id}/graph": {
      "get": {
        "tags": [
          "permanent"
        ],
        "summary": "Permanent link to graph view of a specific version",
        "parameters": [
          {
            "name": "sha",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned graph HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/permanentItems.xqm"
      }
    },
    "/permanent/{sha}/{collection}/{id}/geoBrowser": {
      "get": {
        "tags": [
          "permanent"
        ],
        "summary": "Permanent link to geoBrowser view of a specific version",
        "parameters": [
          {
            "name": "sha",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versioned geoBrowser HTML",
            "content": {
              "text/html": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/permanentItems.xqm"
      }
    },
    "/api/idlookup": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Look up a record by ID (used by autocomplete/typeahead)",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ID lookup result",
            "content": {
              "application/json": {}
            }
          }
        },
        "x-implementation": "db/apps/BetMasWeb/restviews/idlookup.xqm"
      }
    },
    "/search.html": {
      "get": {
        "tags": [
          "redirects"
        ],
        "summary": "Legacy search page redirect",
        "description": "Redirects to /newSearch.html (simpleSearch). Also applies to /as.html.",
        "responses": {
          "302": {
            "description": "Redirect to /newSearch.html"
          }
        }
      }
    },
    "/manuscripts/list": {
      "get": {
        "tags": [
          "redirects"
        ],
        "summary": "Legacy manuscript list redirect",
        "description": "Redirects to /newSearch.html?searchType=text&mode=any&work-types=mss",
        "responses": {
          "302": {
            "description": "Redirect to newSearch with work-types=mss"
          }
        }
      }
    },
    "/persons/list": {
      "get": {
[...]
