<html xmlns="https://www.w3.org/1999/xhtml">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-106148968-1"/>
        <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106148968-1');
</script> -->
        <title property="dcterms:title og:title schema:name">Beta maṣāḥǝft: Manuscripts of Ethiopia and Eritrea</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <meta property="og:site_name" content="Beta maṣāḥǝft: Manuscripts of Ethiopia and Eritrea"/>
        <meta property="dcterms:language schema:inLanguage" content="en"/>
        <meta property="dcterms:rights" content="Copyright © Akademie der Wissenschaften in Hamburg, Hiob-Ludolf-Zentrum für Äthiopistik.  Sharing and remixing permitted under terms of the Creative Commons Attribution Share alike Non Commercial 4.0 License (cc-by-nc-sa)."/>
        <meta property="dcterms:publisher schema:publisher" content="Akademie der Wissenschaften in Hamburg, Hiob-Ludolf-Zentrum für Äthiopistik"/>
        
        <!--      icons  -->
        <link rel="shortcut icon" href="resources/images/minilogo.ico"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css"/>
        
<!--        bootstrap needs to stay to have the tooltips in the range sliders--><!--
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>-->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/css/keyboard-basic.min.css"/>
            <link rel="stylesheet" href="$shared/resources/css/w3.css"/>
        
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.1/css/bootstrap-slider.min.css"/>-->
        <link rel="stylesheet" href="resources/css/w3local.css"/>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"/>
        
<!--        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>-->
    </head>
    
    <body id="body">
        <div data-template="app:NbarNew"/>
        <div data-template="app:modalsNew"/>
        
        
        <!-- Page content -->
        
        <div id="content"/>
        
        <footer data-template="app:footerNew"/>
        <!--js-->
        
        <script type="text/javascript" src="resources/js/explain.js"/>
        <script type="application/javascript" src="resources/js/w3.js"/>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.1/bootstrap-slider.min.js"/>
        <script type="application/javascript" src="resources/js/preventformsubmission.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.keyboard.js"/>
        <!-- keyboard extensions (optional) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.mousewheel.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.keyboard.extension-typing.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.keyboard.extension-altkeyspopup.min.js"/>
        <script type="text/javascript" src="resources/js/jquery.easing.min.js"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="resources/js/diacriticskeyboard.js"/>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?customize=1&amp;scrolling=1"/>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer="defer"/>
    </body>
</html>