<html xmlns="https://www.w3.org/1999/xhtml">
    <head>
        <title property="dcterms:title og:title schema:name">Beta maṣāḥǝft: Manuscripts of Ethiopia and Eritrea</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <meta property="og:site_name" content="Beta maṣāḥǝft: Manuscripts of Ethiopia and Eritrea"/>
        <meta property="dcterms:language schema:inLanguage" content="en"/>
        <meta property="dcterms:rights" content="Copyright © Akademie der Wissenschaften in Hamburg, Hiob-Ludolf-Zentrum für Äthiopistik.  Sharing and remixing permitted under terms of the Creative Commons Attribution Share alike Non Commercial 4.0 License (cc-by-nc-sa)."/>
        <meta property="dcterms:publisher schema:publisher" content="Akademie der Wissenschaften in Hamburg, Hiob-Ludolf-Zentrum für Äthiopistik"/>
        
        <!--      icons  -->
        <link rel="shortcut icon" href="resources/images/minilogo.ico"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css"/>
        <!--        Leaflet css-->
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"/>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/css/keyboard-basic.min.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="stylesheet" href="resources/css/w3local.css"></link>
        <style>
</style>
        
<!--        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css"/>-->
        
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"/>
        
    </head>
    
    <body id="body">
        
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-gray" style="display:none" id="sidebar">
            <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close</button>
            <a class="w3-bar-item w3-button" href="#intro">Introduction</a>
            <a class="w3-bar-item w3-button" href="#manuscripts">Manuscripts</a>
            <a class="w3-bar-item w3-button" href="#entities">Other Entities</a>
            <a class="w3-bar-item w3-button" href="#furtherSearchOptions">Search</a>
            <a class="w3-bar-item w3-button" href="#DillParser">Lexicon and Parser</a>
            <a class="w3-bar-item w3-button" href="#contribute">Contribute</a>
            <a class="w3-bar-item w3-button" href="#maps">Map</a>
            
        </div>
        
        <div class="w3-main" id="main">
            <div data-template="app:NbarNew"/>
            <div data-template="app:modalsNew"/>
            <div data-template="app:searchhelpNew"/>
            
            
            <!-- Page content -->
            
            
            <div id="content"/>
        </div>
        <footer data-template="app:footerNew"/>
        
        
        <script type="application/javascript" src="resources/js/introText.js"/>
        <script type="application/javascript" src="resources/js/w3.js"/>
        <!--js-->
        <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"/>
        
<!--        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"/>-->
        
        <!--        leaflet js-->
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""/>
        <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js" type="text/javascript"/>
        <script src="resources/geo/places-geojson.js" type="text/javascript"/>
        <script src="resources/geo/institutions-geojson.js" type="text/javascript"/>
        <script src="resources/geo/geojsonmap.js" type="text/javascript"/>
        
        
        
        <script type="application/javascript" src="resources/js/preventformsubmission.js"/>
        
        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.keyboard.js"/>
        <!-- keyboard extensions (optional) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.mousewheel.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.keyboard.extension-typing.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.keyboard.extension-altkeyspopup.min.js"/>
        <script type="text/javascript" src="resources/js/jquery.easing.min.js"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script src="resources/js/diacriticskeyboard.js" type="text/javascript"/>
        <script type="text/javascript" src="resources/js/index.js"/> 
    </body>
</html>