<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="app:title"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="app:meta"/>
        <!--      icons  -->
        <link rel="shortcut icon" href="resources/images/minilogo.ico"/>
        
        <!--css-->
        
        <!--        bootstrap-->
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" href="resources/font-awesome-4.7.0/css/font-awesome.min.css"/>
        
        <!--        icons-->
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.icon-large.min.css"/>
        <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
        <!--        datatables for list views-->
        <link data-template="app:cssSelector"/>
        <!--        other css in local script contains also visCol and others-->
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/css/keyboard-basic.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        
        
        <script data-template="app:jsSelector"/>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.keyboard.js"/>
        
        <!-- keyboard extensions (optional) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.mousewheel.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.keyboard.extension-typing.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.22/js/jquery.keyboard.extension-altkeyspopup.min.js"/>
        
        <script type="text/javascript" src="resources/js/jquery.easing.min.js"/>
        <script type="text/javascript" src="resources/js/scrollnav.js"/>
        <script src="resources/openseadragon/openseadragon.min.js"/>
        <script src="resources/js/diacriticskeyboard.js" type="text/javascript"/>
    </head>
    <body id="body">
        <!--        <div class="se-pre-con"/>-->
        
        <nav data-template="app:Nbar"/>
        <div data-template="app:modals"/>
        <div data-template="app:searchhelp"/>
        
        <div data-template="app:entity">
            <div data-template="item:viewOptions"/>
            <div data-template="item:ItemHeader"/>
        </div>
        
        <div id="content" class="container-fluid col-md-12"/>
       
        <footer data-template="app:footer"/>
        
        <!--        local -->
        <script type="text/javascript" src="resources/js/ugarit.js"/>
        <script type="text/javascript" src="resources/js/highlight.js"/>
        <script type="text/javascript" src="resources/js/toogle.js"/>
        <script type="text/javascript" src="resources/js/titles.js"/>
        <script type="text/javascript" src="resources/js/NewBiblio.js"/>
        <script type="text/javascript" src="resources/js/PointsHere.js"/>
        <script type="text/javascript" src="resources/js/resp.js"/>
        <script data-template="app:footerjsSelector"/>
        <script type="text/javascript" src="resources/js/slickoptions.js"/>
    </body>
</html>